.google{
    background-color: #008789;
    height: 200px;
    width: 400px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 9px solid #725A4A;
    border-right: 9px solid #725A4A;
    margin-top: 100px;
    

}
p{
    text-align: center;
    font-size: 100px;
    margin: 0;
    padding-left: ;
    padding-top: 40px;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
}